<div class="flex flex-col items-center min-h-full pt-10">
  <div class="main-heading">{{title}}</div>
  <mat-card class="order-main pb-8" appearance="outlined">
    <div class="table">
      <div class="table-head pt-2 pb-2 font-semibold">
        <div class="table-w w-1/3">Product Name</div>
        <div class="table-w w-1/3">Quantity</div>
      </div>
      <div *ngFor="let a of displayProducts; index as i;">
        <div class="table-head mb-2">
          <div class="table-w w-1/3">{{a.product}}</div>
          <div class="table-w w-1/3">
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <mat-select [(value)]="a.quantity">
                @for (v of values; track v) {
                <mat-option [value]="v">{{v}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class=" w-1/3 flex items-center">
            <button class="btn ml-5" [disabled]="a.disabled" mat-raised-button (click)="addToOrder(a,i)">Add</button>
            <button mat-fab color="danger" [disabled]="a.disabled" class="ml-auto mr-5" (click)="deleteProduct(a)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button mat-flat-button [matMenuTriggerFor]="menu" class="w-1/6">Add Product</button>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="products">
          <div class="table-main" *ngFor="let a of products; index as i;">
            <div class="table-head mb-2">
              <mat-label class="indent-5 hover:cursor-pointer" (click)="populateDisplay(a)">{{a.product}}</mat-label>
            </div>
          </div>
        </ng-container>
      </mat-menu>
    </div>
  </mat-card>
  <button mat-flat-button (click)="toggle()" class="mt-5 mb-5">Show Order</button>
  <div *ngIf="showOrders" class="w-4/5">
    <table mat-table [dataSource]="user.orders" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.product}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <button mat-flat-button (click)="speak()" class="mt-5 mb-5">What Is My Order?</button>
</div>